# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Linker and debugger files
*.ilk
*.pdb
*.idb
*.tlog

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables and app bundles
*.exe
*.out
*.app

# Debug information
*.dwo
*.exp
*.recipe
*.res

# Visual Studio workspace and user-specific files
.vs/
*.suo
*.user
*.VC.db
*.opendb
*.VC.opendb
*.sln.docstates

# Build outputs and intermediates
Builds/**/x64/
Builds/**/Win32/
Builds/**/Debug/
Builds/**/Release/
Builds/**/App/

# Common OS noise
.DS_Store
Thumbs.db
